@{
    ViewData["Title"]="Insert Page";
}

<div class="text-center">
    <form method="Post">

      <fieldset>
        <legend>Fill Details</legend>

        <label>Enter ID:</label>
        <input type="number" name="id"/> <br> <br>

        <label>Enter Name:</label>
        <input type="text" name="nm"/> <br> <br> 

        <label>Enter Designation:</label>
        <input type="text" name="dsg"/> <br> <br> 

        <label>Enter Company:</label>
        <input type="text" name="cmp"/> <br> <br> 

        <label>Enter Salary:</label>
        <input type="number" name="sal"/> <br> <br> 

        <label>Enter Username:</label>
        <input type="text" name="un"/> <br> <br> 

        <label>Enter Password:</label>
        <input type="text" name="pass"/> <br> <br> 

      </fieldset>
    </form>


</div>